<app-sidebar></app-sidebar>
<main class="main-content">
  <app-layout></app-layout>
  <div class="content-inner mt-5 py-0">
    <div class="row">
      <div class="col-lg-8">
        <div class="col-lg-12">
          <div class="iq-main">
            <div class="iq-glass-card iq-content1 rounded p-3">
              <div class="d-flex flex-wrap align-items-center justify-content-between">
                <div>
                  <h5>Ciao a Tutti</h5>
                  <p class="mb-0">waffles, berries, whipped cream</p>
                </div>
                <div>
                  <button type="button" class="btn btn-primary mt-3 rounded-pill">View Public profile</button>
                </div>
              </div>
            </div>
            <div class="iq-header-img">
              <img src="../../assets/images/customer-review/01.png" alt="header" class="img-fluid w-100 rounded" style="object-fit: contain;">
            </div>
          </div>
        </div>
        <div class="card profile-img54">
          <div class="card-header border-0">
            <div class="d-flex flex-wrap justify-content-between align-items-center">
              <h3>Latest reviews</h3>
              <button type="button" class="btn btn-primary rounded-pill">See all reviews</button>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-3 col-xl-2">
                <img src="../../assets/images/customer-review/05.png" alt="header" class="img-fluid rounded-circle avatar-100 mb-2">
                <small class="heading-title fw-bolder text-dark ms-3 ms-lg-0">Jone Cooper</small>
              </div>
              <div class="col-lg-9 col-xl-10 ps-lg-0">
                <div class="d-flex justify-content-between">
                  <div class="d-flex">
                    <small class="text-dark fw-bolder me-1">4.5</small>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18px" fill="orange" viewBox="0 0 24 24">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18px" fill="orange" viewBox="0 0 24 24">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18px" fill="orange" viewBox="0 0 24 24">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18px" fill="orange" viewBox="0 0 24 24">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18px" fill="none" viewBox="0 0 24 24" stroke="currentcolor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
                    </svg>
                  </div>
                  <small class="text-primary">1 Day Ago</small>
                </div>
                <h6 class="heading-title mt-3 mb-2">Nice place and excellent food</h6>
                <p>Fantastic breakfast spot with delicious and visually appealing dishes. The waffles were light and fluffy, perfectly complemented by the fresh berries and whipped cream. The cozy, inviting atmosphere made for a wonderful dining experience. Highly recommend Ciao a Tutti for a tasty start to the day.</p>
                <div class="row">
                  <div class="col-lg-3 mt-4 mb-0 mb-lg-4">
                    <table class="table table-borderless">
                      <tbody class="p-0 text-light">
                        <tr>
                          <td class="p-1">Food</td>
                          <td class="p-1">4.0</td>
                        </tr>
                        <tr>
                          <td class="p-1">Service</td>
                          <td class="p-1">3.5</td>
                        </tr>
                        <tr>
                          <td class="p-1">Location</td>
                          <td class="p-1">4.2</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-lg-3 mt-4 mb-4">
                    <table class="table table-borderless">
                      <tbody class="p-0">
                        <tr>
                          <td class="p-1">Cleaniness</td>
                          <td class="p-1">4.0</td>
                        </tr>
                        <tr>
                          <td class="p-1">Wait Time</td>
                          <td class="p-1">4.0</td>
                        </tr>
                        <tr>
                          <td class="p-1">Location</td>
                          <td class="p-1">4.2</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <button type="button" class="btn btn-primary rounded-pill me-3">Reply</button>
                <button type="button" class="btn btn-outline-primary rounded-pill">Report</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-3 col-xl-2">
                <img src="../../assets/images/customer-review/06.png" alt="header" class="img-fluid rounded-circle avatar-100 mb-2">
                <small class="heading-title fw-bolder text-dark ms-3 ms-lg-0">Lisa</small>
              </div>
              <div class="col-lg-9 col-xl-10 ps-lg-0">
                <div class="d-flex justify-content-between">
                  <div class="d-flex">
                    <small class="text-dark fw-bolder me-1">4.5</small>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18px" fill="orange" viewBox="0 0 24 24">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18px" fill="orange" viewBox="0 0 24 24">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18px" fill="orange" viewBox="0 0 24 24">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18px" fill="orange" viewBox="0 0 24 24">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18px" fill="none" viewBox="0 0 24 24" stroke="currentcolor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
                    </svg>
                  </div>
                  <small class="text-primary">1 Day Ago</small>
                </div>

                <h6 class="heading-title mt-3 mb-2">Comfort Food Haven: A Solid Dining Experience</h6>
                <p>Pizza Pasta and Sandwich offers a satisfying casual dining experience with a good variety of classic favorites. The pizza has a nice crispy crust and generous toppings, while the pasta dishes are hearty and flavorful. Sandwiches are made with fresh ingredients and provide a solid lunch option. Prices are reasonable, and the atmosphere is relaxed and welcoming.</p>
                <img src="../../assets/images/customer-review/02.png" alt="header" class="img-fluid rounded-1">
                <div class="d-grid gap-card grid-cols-2 mt-4 mb-4">
                  <img src="../../assets/images/customer-review/03.png" alt="header" class="img-fluid rounded-1">
                  <img src="../../assets/images/customer-review/04.png" alt="header" class="img-fluid rounded-1">
                </div>
                <button type="button" class="btn btn-primary rounded-pill me-3">Reply</button>
                <button type="button" class="btn btn-outline-primary rounded-pill">Report</button>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="pb-4 border-bottom">
              <h5>Get coustomers to know you better</h5>
            </div>
            <div class="d-flex justify-content-between pt-5 pb-4 border-bottom">
              <span class="text-dark">contact Information</span>
              <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="18px" fill="orange" viewBox="0 0 24 24" stroke="orange">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                </svg>
              </a>
            </div>
            <div class="d-flex justify-content-between pt-5 pb-4 border-bottom">
              <span class="text-dark">Your offering</span>
              <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="18px" fill="orange" viewBox="0 0 24 24" stroke="orange">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                </svg>
              </a>
            </div>
            <div class="d-flex justify-content-between pt-5">
              <span class="text-dark">Media</span>
              <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="18px" fill="orange" viewBox="0 0 24 24" stroke="orange">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h5>Customer review</h5>
          </div>
          <div class="card-body">
            <div class="d-flex justify-content-between rounded-1 bg-soft-primary text-primary px-3 p-1 mb-3">
              <span>unique profile visite</span>
              <span>224</span>
            </div>
            <div class="d-flex justify-content-between rounded-1 bg-soft-primary text-primary px-3 p-1 mb-3">
              <span>unique profile visite</span>
              <span>23</span>
            </div>
            <div class="d-flex justify-content-between rounded-1 bg-soft-primary text-primary px-3 p-1 mb-3">
              <span>Average Rating</span>
              <span>4.8</span>
            </div>
            <div class="d-flex justify-content-between rounded-1 bg-soft-primary text-primary px-3 p-1">
              <span>Average Rating</span>
              <span>4.8</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <app-footer></app-footer>
</main>





